body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;   /* Zarovnání do středu horizontálně */
    align-items: center;      /* Zarovnaní do středu vertikálně */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(136, 160, 141);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;   
}

.form-container {
    background-color: white;
    padding: 30px;
    width: 90%;
    max-width: 850px;
    margin-top: 90px; /* Posunutí dolů */
}

label { /* zvyrazneni emailu a hesla */
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(136, 160, 141);
}